{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK MY SHOW</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "></script>
   <link rel="stylesheet" href="{% static 'header.css' %}"> 
   <link rel="stylesheet" href="{% static 'home.css' %}"> 
   <link rel="stylesheet" href="{% static 'footer.css' %}">  
</head>

<body>
    <div class="header">
        <div class="left-section">
            <!--logo-->
            <img src="{% static 'logo.jpg' %}" alt="My image">
            
            <!-- link to about us -->
            <a href="#"><button style="font-weight: 700;">About Us</button></a>

        </div>
        <div class="middle-section">
            <!--     search bar         -->
            <input type="text" class="search-bar" placeholder="Search for anything">
        </div>
        <div class="right-section">
            
            <a href="/cinput/"><button>Add Course</button></a>
            <a href="#cson"><button>My Courses</button></a>
            <a href="/cartadd/"><img src="{% static 'cart.png' %}" alt="My image" height="28px"></a>
            <a href="/login/" target="_blank"><img src="{% static 'userhead.png' %}" alt="My image" height="28px"></a>
            
            
        </div>
    </div>
    <div class="head">
        <img  src="{% static 'S.jpg' %}" alt="" >
    </div>
<div class="car-container p-4">
    
    
    {% if ec_list %}   
    
        
        
    <div class="card-container d-flex flex-row p-4" style="margin-top: 80px;">
    {% for mv in ec_list %}
    
    <div class="d-flex flex-column p-4" id="cson">
        <img src="/media/{{mv.image}}" width="150" height="150">
        
        <h1 class="text-center p-2">{{mv.Coursename}}</h1>
        <p class="text-center p-2">{{mv.Cost}}</p>
        <a class="text-center p-2" href="/cartadd/" style="text-decoration: none; color: rgb(255, 250, 250); background: black;">Add to cart</a>
    </div>
    {% endfor %}    
    </div>
    {% else %}
    <p>no courses</p>
    {% endif %}
</div>
<div class="footer">
    <img src="{% static 'logo.svg' %}" alt="logo" height="80px" width="80px">
    <div>PRESS</div>
    <div>SECURITY</div>
    <div>LEGAL</div>
    <div>LEADERSHIP</div>
    <div>CANDIDATE PRIVACY</div>
    <div>TERMS OF SERVICE</div>
    <DIV>PRIVACY NOTICE</DIV>
    <DIV>PLAYER SUPPORT</DIV>
    <DIV>E-VERIFY</DIV>
    <DIV>ACCESSABILITY</DIV>
    <svg fill="grey" width="10" viewBox="0 0 9 16"><path d="M5.7 16V8.7h2.4l.4-2.8H5.7V4c0-.8.2-1.4 1.4-1.4h1.5V.1C8.4.1 7.5 0 6.5 0 4.3 0 2.8 1.3 2.8 3.8v2.1H.3v2.8h2.5V16h2.9z"></path></svg>
    <svg fill="grey" width="18" viewBox="0 0 19 14"><path d="M19 1.5c-.7.3-1.5.5-2.3.6.8-.4 1.4-1.1 1.7-2-.8.4-1.6.7-2.5.9-.7-.6-1.7-1-2.8-1-2.2 0-3.9 1.6-3.9 3.6 0 .3 0 .5.1.8C6 4.3 3.1 2.9 1.1.9.8 1.4.6 2 .6 2.6c0 1.2.7 2.3 1.8 2.9-.6 0-1.3-.2-1.8-.4C.6 6.8 2 8.2 3.8 8.5c-.3.1-.7.1-1 .1h-.7c.5 1.4 2 2.4 3.7 2.4-1.3 1-3 1.6-4.9 1.6H0c1.8 1 3.8 1.5 6.1 1.5 7.2-.1 11.1-5.5 11-10.2v-.5c.7-.5 1.4-1.1 1.9-1.9z"></path></svg>
    <svg fill="grey" width="18" viewBox="0 0 16 16"><path d="M.3 5.3h3.3V16H.3z"></path><ellipse cx="1.9" cy="1.9" rx="1.9" ry="1.9"></ellipse><path d="M16 16h-3.3v-5.2c0-1.2 0-2.8-1.7-2.8s-2 1.4-2 2.7V16H5.7V5.3h3.2v1.5C9.3 5.9 10.4 5 12 5c3.4 0 4 2.2 4 5.1V16z"></path></svg>
    <svg fill="grey" width="18" viewBox="0 0 19 13"><path d="M18.6 2.8s-.2-1.3-.7-1.8C17.2.3 16.4.3 16 .2 13.4 0 9.5 0 9.5 0S5.6 0 3 .2c-.4 0-1.1 0-1.9.8-.5.5-.7 1.8-.7 1.8s-.2 1.5-.2 3v1.4c0 1.5.2 3 .2 3s.2 1.3.7 1.8c.7.7 1.6.7 2 .8 1.6.2 6.4.2 6.4.2s3.9 0 6.5-.2c.4 0 1.1 0 1.9-.8.6-.6.7-1.8.7-1.8s.2-1.5.2-3V5.8l-.2-3zm-11 6.1V3.7l5 2.6-5 2.6z"></path></svg>
    <hr>
</div>
    
</body>
</html>