<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>
<body style="margin:0;">
    <div class="header">
        <div class="left-section">
            <!--logo-->
            <img src="logo.jpg" alt="logo">
            <!-- link to about us -->
            <a href="#"><button style="font-weight: 700;">About Us</button></a>

        </div>
        <div class="middle-section">
            <!--     search bar         -->
            <input type="text" class="search-bar" placeholder="Search for anything">
        </div>
        <div class="right-section">
            
            <!-- <a href="#"><button>My Courses</button></a> -->
            <a href="#"><img src="cart.png" alt="cart" height="30px"></a>
            <a href="#"><button style="border: 1px solid #111;">Sign In</button></a>
            <a href="#"><button style="border: 1px solid #111;background-color: #111; color: #ffffff;">Sign Up</button></a>
            
        </div>
    </div>
</body>
</html>